body {
    color: white;
}

.main-container {
    border: 2px solid black;
    position: relative;
    background-color: rgb(247, 247, 247);
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.products {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    width: 20%;
    height: 350px;
    margin: 3px;
    background-color: rgb(45, 99, 168);
}

.product-title {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 30px;
    width: 40%;
    background-color: rgb(29, 89, 138);
    color: white;
}

.product-intro {
    background-color: rgb(166, 214, 233);
    height: 70rem;
    width: 100vw;
    background-image: url("d.jpg");
    background-repeat: no-repeat;
    background-position: center;
}


/* styling cart */

.cart-product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 214, 233);
}

.cart-product-container h2 {
    margin-left: auto;
    margin-right: auto;
}

.cart-products {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    width: 20%;
    height: 350px;
    margin: 2px;
    background-color: rgb(255, 252, 247);
}

.cart-btn {
    height: 30px;
    background-color: rgb(39, 103, 146);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color: white;
    border: 2px solid rgb(50, 122, 180);
}

.cart-btn:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 248);
    color: black;
}


/*  */

.wishlist-product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 214, 233);
}

.wishlist-product-container h2 {
    margin-left: auto;
    margin-right: auto;
}

.wishlist-products {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    width: 20%;
    height: 450px;
    margin: 2px;
    background-color: rgb(255, 252, 247);
}

.wishlist-btn {
    height: 40px;
    background-color: rgb(243, 248, 248);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: -7px;
}

.wishlist-btn:hover {
    cursor: pointer;
    background-color: rgb(7, 7, 7);
    color: white;
}

.remove-wishlist {
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.delete-cart {
    height: 50px;
    background-color: rgb(136, 46, 46);
    display: flex;
}


/* styling navbar */

.logo {
    position: absolute;
    left: 0;
    margin: 30px;
    color: white;
    font-size: 40px;
}

.logo-back {
    color: white;
}

.nav-cart {
    position: absolute;
    right: 0;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 30px;
}

.nav-wishlist {
    position: absolute;
    right: 200px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 30px;
}

.nav-bar {
    display: flex;
    border: 2px solid black;
    background-color: rgb(54, 118, 155);
    height: 100px;
    color: white;
    font-size: small;
}

.nav-text {
    font-size: 15px;
}


/* styling filter */

.buttons-container {
    height: 40rem;
    width: 15%;
    position: absolute;
    left: 0%;
    color: white;
}

.categorybuttons {
    background-color: rgb(255, 252, 247);
    width: 17%;
    color: white;
}

.categorybuttons button {
    margin: 6px;
    height: 30px;
    background-color: rgb(54, 118, 155);
    ;
    color: white;
}

.categorybuttons button:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 248);
}

.ratingbuttons {
    background-color: rgb(255, 252, 247);
}

.ratingbuttons button {
    margin: 6px;
    height: 30px;
    background-color: rgb(54, 118, 155);
    color: white;
}

.ratingbuttons button:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 248);
}

.stockbuttons {
    background-color: rgb(255, 252, 247);
}

.stockbuttons button {
    margin: 6px;
    height: 30px;
    background-color: rgb(54, 118, 155);
    color: white;
}

.stockbuttons button:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 248);
}

.sortbypricebutton {
    background-color: rgb(255, 252, 247);
}

.sortbypricebutton button {
    margin: 6px;
    height: 30px;
    background-color: rgb(54, 118, 155);
    color: white;
}

.sortbypricebutton button:hover {
    cursor: pointer;
    background-color: rgb(243, 248, 248);
}